<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/sharedstyle.css}">
    <link rel="stylesheet" th:href="@{/css/admin-add-edit-artwork.css}">
    <title>Login</title>
</head>

<body>
    <section class="form">
        <div th:if="${registered}" style="color:green; margin-bottom:1em;">
            Registration successful! Please log in.
        </div>
    
        <div th:if="${loginError}" style="color:red; margin-bottom:1em;">
            Invalid username or password.
        </div>

    <form th:action="@{/user/login}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="field">
            <label for="username">Username: <span class="star">*</span></label>
            <input name="username" id="username" placeholder="Username"/>
        </div>
        <div class="field">
            <label for="password">Password: <span class="star">*</span></label>
            <input name="password" id="password" type="password" placeholder="••••••••" />
        </div>

        <button type="submit">Login</button>
    </form>
    
    <br><br>
    <p>Don't have an account? <a th:href="@{/user/register}">Register here</a>.</p>
    </section>
</body>

</html>