* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Libre Baskerville', serif;
  color:#393E46;
  font-weight:100;
}

/* Properties of background, to avoid repetition */

.background-image-properties {
    width:100vw;
    height: 100vh;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

/* Multiple properties that come in handy and are general */

.flex {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.icons {
    width:20px;
    height:20px;
}

.hidden {
    display:none;
}


/* Animations */

@keyframes initial-brighten {
    0% {
        background-color: rgba(0, 0, 0, 1); /* Fully dark */
    }
    50% {
        background-color: rgba(0, 0, 0, 0.5); /* Halfway brightened */
    }
    100% {
        background-color: rgba(0, 0, 0, 0.0); /* Slightly dark */
    }
}


@keyframes fade-in-out {
    0% {
        background-color: rgba(0, 0, 0, 0.0);
        opacity:1; 
    }
    25% {
        background-color: rgba(0, 0, 0, 0.5);
        opacity:0.5; 
    }
    50% {
        background-color: rgba(0, 0, 0, 1);
        opacity:0; 
    }
    75% {
        background-color: rgba(0, 0, 0, 0.5);
        opacity:0.5;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.0);
        opacity:1; 
    }
}



/* !!!!!!!!!!!! Gallery entrance section !!!!!!!!!!!! */

#gallery-entrance {
    background-image:url(../images/background-images/gallery-entrance-3.jpg);
}

#bright-overlay {
    width:100%;
    height:100%;
    animation: initial-brighten 4s linear forwards;
}

#enter-now {
    width:100vw;
    height:100vh;
    display:flex;
    align-items:flex-end;
    justify-content:center;
}
#enter-now button {
    border:none;
    width:50%;
    height:65%;
    border-radius:10% 10% 0 0;
    background-color:rgba(0, 0, 0, 0.1);
    transition:1000ms;
}

#enter-now button:hover {
    background-color:rgba(156, 154, 154, 0);
    filter:brightness(1.5);
    transition:1000ms;
    cursor:pointer;
}


/* !!!!!!!!!!!!! Gallery navigation !!!!!!!!!!!!!! */

#gallery-navigation {
    background-image:url(../images/background-images/wall.png);
    overflow: hidden;
} 

/* Artworks section */

#art-types {
    width:100vw;
    height:100vh;
}

/* Details of each artwork */

.flex-item {
    display:none;
}

/* The image of the artwork */
.art-type {
    border:2px solid black;
    border-radius: 2px;
}


.art-type:hover {
    cursor:pointer;
}

/* The lightbox of the image */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border: 1px solid black;
    border-radius: 8px;
}


.arrow:hover {
    cursor:pointer;
}

