<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/sharedstyle.css}">
    <link rel="stylesheet" th:href="@{/css/contact.css}">
    <link rel="stylesheet" href="https://use.typekit.net/bpx8uhs.css">
    <script th:src="@{/js/shared-js.js}" defer></script>
    <title>Contact</title>
</head>

<body th:replace="layouts/main-layout :: main-layout(~{::body/content()})">
    <main>
        <header>
            <p>Your questions and comments are important to us! Please send us an email, and note that the more information you provide, the better we can serve you.</p>
            <br>
            <div class="contact-container">
                <!-- Combined Problem/Comment Form -->
                <details open>
                    <summary>Have Feedback or an Issue? Let Us Know!</summary>
                    <p>Please contact us via our email <a href="mailto:mehdirg165@gmail.com">here</a> or <a href="mailto:ayoubma321@gmail.com">here</a>.</p>
                    <!-- <section id="feedback">
                        <form id="feedback-form">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <label for="inquiry-type">Inquiry Type *</label>
                            <select name="inquiry" id="inquiry-type">
                                <option value="problem">Problem</option>
                                <option value="comment">Comment</option>
                                <option value="other">Other</option>
                            </select>
                            <label for="message">Your Message *</label>
                            <textarea id="message" name="message" cols="4" rows="8"></textarea>
                            <p class="button">Submit</p>
                        </form>
                        <br>
                        <p>(Or contact us via our email : test@gmail.com)</p>
                    </section> -->
                    <br><br>
                </details>
                
                <!-- Find Us Section -->
                <details open>
                    <summary>Where can you find us?</summary>
                    <p>We're currently located here : <br> <br>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.8760133730316!2d-5.014704435975088!3d34.03984318909299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd9f8b248f2bd559%3A0x5e9ffe5758589096!2sParc%20Champ%20de%20Course%20Park!5e1!3m2!1sen!2sma!4v1753552989468!5m2!1sen!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                        
                        
                        <br><br>We also have our instagram page. <br> Feel free to take a tour!
                    </p>
                    <header id="social-media-icons">
                        <!-- <a href="https://www.facebook.com/Mehdi.RG17" target="_blank" title="Facebook page"><img class="icons" th:src="@{images/icons/facebook-icon.png}" alt="Facebook Link"></a> -->
                        <a href="https://www.instagram.com/mehdi.ragani/" title="Instagram page"><img class="icons" th:src="@{images/icons/instagram-icon.png}" alt="Instagram Link"></a>
                    </header>
                    <br><br>
                </details>
                
                <!-- Newsletter Signup Section -->
                <!-- <details open>
                    <summary>Stay Informed with Our Newsletter</summary>
                    <section id="newsletter-signup">
                        <p>Get the latest on new artworks, artist features, and exclusive offers.</p>
                        <form id="newsletter-form">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <label for="newsletter-email">Your Email</label>
                            <input type="email" id="newsletter-email" name="newsletter-email">
                            <p class="button">Sign up</p>
                        </form>
                    </section>
                    <br><br>
                </details> -->
                <br><br>
            </div>    
        </header>
    </main>
</body>
</html>