<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/sharedstyle.css}">
    <link rel="stylesheet" th:href="@{/css/artwork-details.css}">
    <link rel="stylesheet" href="https://use.typekit.net/bpx8uhs.css">
    <title>Artwork details</title>
    <script th:src="@{/js/artwork-details.js}" defer></script>
    <script th:src="@{/js/shared-js.js}" defer></script>
</head>
<body th:replace="~{layouts/main-layout :: main-layout(~{::body/content()})}">
    <header id="artwork-overview" class="flex">
        <section id="artwork-images-container">
            <img id="artwork-image" th:src="@{${artwork.mainImagePath}}" alt="">
            <div th:if="${artwork.secondaryImagesPaths}">
                <img class="secondary-images" th:src="@{${artwork.mainImagePath}}" alt="">
                <span th:each="secondaryImage: ${artwork.secondaryImagesPaths}">
                    <img class="secondary-images" th:src="@{${secondaryImage}}" alt="Secondary Image">
                </span>
            </div>
        </section>
        
        <section id="info">
            <div class="info-sections">
                <h1 th:text="${artwork.title}"></h1>
            </div>
            <br><br><br>
            
            <!-- ORIGINAL ARTWORK SECTION -->
            <div>
                <div class="info-sections">
                    <ul id="artwork-info" class="flex">
                        <div id="first-list">
                            <li>Execution date : <span th:text="${artwork.year}"></span></li>
                            <li>Availability : <strong th:text="${artwork.status.displayName}"></strong></li>
                            <li>Dimensions : <span th:text="${artwork.width}"></span> W x <span th:text="${artwork.height}"></span> H cm</li>
                        </div>
                        <div>
                            <li>Theme : <span th:text="${artwork.theme.displayName}"></span></li>
                            <li>Feel : <span th:text="${artwork.feel.displayName}"></span></li>
                        </div>
                    </ul>
                </div>
                <br><br><br>
                <div class="info-sections" id="price-section">
                    <h3 class="price"><span th:text="${artwork.price}"></span> EUR</h3>
                    <br>
                </div>
                <!-- Only show Add to Cart if artwork is available -->
                <form th:if="${artwork.status.name() == 'AVAILABLE'}"
                      th:action="@{/cart/add}" method="post" class="cart-div">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="hidden" name="artworkId" th:value="${artwork.id}" />
                    <input type="hidden" name="quantity" value="1" />
                    <button type="submit" id="cart-button" class="button">
                        <img class="icons" th:src="@{/images/icons/white-cart.png}" alt="Cart">
                        <span>Add to Cart</span>
                    </button>
                </form>
            </div>
        </section>
    </header>

    <header id="extra" class="flex">
        <div class="extra-info">
            <img class="icons" th:src="@{/images/icons/happiness.png}" alt="Happiness!"> <br>
            <p>10-day return policy</p>
        </div>
        <div class="extra-info">
            <img class="icons" th:src="@{/images/icons/box.png}" alt="Shipping"> <br>
            <p>Shipping across Morocco</p>
        </div>
        <div class="extra-info"><img class="icons" th:src="@{/images/icons/credit-card.png}" alt="Secure transaction"> <br>
            <p>100% secure transaction</p>
        </div>
        <div class="extra-info">
            <img style="width:50px;height:50px;" th:src="@{/images/icons/returns.png}" alt="Returns"> <br>
            <p>Free Returns</p>
        </div>
    </header>
    <br>
</body>
</html>