<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/sharedstyle.css}">
    <link rel="stylesheet" th:href="@{/css/artwork-details.css}">
    <script th:src="@{/js/artwork-details.js}" defer></script>
    <title>Artwork details</title>
</head>
<body th:replace="~{layouts/main-layout :: main-layout(~{::body/content()})}">
    <header id="artwork-overview" class="flex">
        <section id="artwork-images-container">
            <img id="artwork-image" th:src="@{${artwork.mainImagePath}}" alt="">
            <div th:if="${artwork.secondaryImagesPaths}">
                <img class="secondary-images" th:src="@{${artwork.mainImagePath}}" alt="">
                <span th:each="secondaryImage: ${artwork.secondaryImagesPaths}">
                    <img class="secondary-images" th:src="@{${secondaryImage}}" alt="Secondary Image">
                </span>
            </div>
        </section>
        
        <section id="info">
            <div class="info-sections">
                <h1 th:text="${artwork.title}"></h1>
            </div>
            
            <br><br><br>

            <div class="info-sections">
                <ul id="artwork-info" class="flex">
                    <div id="first-list">
                        <li>Execution date : <span th:text="${artwork.year}"></span></li>
                        <li>Availability : <strong th:text="${artwork.status}"></strong></li>
                        <li>Dimensions : <span th:text="${artwork.width}"></span> W x <span th:text="${artwork.width}"></span> H cm</li>
                    </div>
                    <div>
                        <li>Theme : <span th:text="${artwork.theme}"></span></li>
                        <li>Feel : <span th:text="${artwork.feel}"></span></li>
                    </div>
                </ul>
            </div>

            <br><br><br>
            
            <div class="info-sections" id="price-section">
                <h3 style="display:inline-block;margin-bottom:10px;" class="price" th:text="${artwork.price}"></h3> <span>dh</span>
                <br>
            </div>
            <div class="cart-div">
                <input type="hidden" class="product-id" value="{{product.id}}" name="" id="">
                <input type="hidden" class="product-title" value="{{product.title}}" name="" id="">
                <button class="button cart-button" id="cart-button" type="submit">
                    <img class="icons" src="/images/icons/white-cart.png" alt="">
                    <span>Add to Cart</span>
                </button>
            </div>

            <a style="text-decoration:none;" href="{% url 'home:make-offer' product.pid %}">
                <div class="button offer"> 
                    <img class="icons" src="/images/icons/bid.png" alt="">
                    <span>Make an Offer!</span>
                </div>
            </a>

            <div class="button wishlist add-to-wishlist" data-product-item=""> 
                <img class="icons" src="/images/icons/heart.png" alt="">
                <span>Add to Wishlist</span>
            </div>
        </section>
    </header>

    <header id="extra" class="flex">
        <!-- <div class="extra-info">
            <img class="icons" src="{% static 'images/icons/favorite.png' %}" alt="Wishlist box"> <br>
            {% if product_wishlist_count > 0 %}
            <p>This artwork is part of {{product_wishlist_count}} wishlists</p>
            {% else %}
            <p>This artwork is not part of any wishlist just yet</p>
            {% endif %}
        </div> -->
        <div class="extra-info">
            <img class="icons" src="/images/icons/happiness.png" alt="Happiness!"> <br>
            <p>10-day return policy</p>
        </div>
        <div class="extra-info">
            <img class="icons" src="/images/icons/box.png" alt="Shipping"> <br>
            <p>Shipping across Morocco</p>
        </div>
        <div class="extra-info"><img class="icons" src="/images/icons/credit-card.png" alt="Secure transaction"> <br>
            <p>100% secure transaction</p>
        </div>
        <div class="extra-info">
            <img style="width:50px;height:50px;" src="/images/icons/returns.png" alt="Returns"> <br>
            <p>Free Returns</p>
        </div>
    </header>

    <!-- <header>
        <h1>Comments & reviews</h1> <br>
        <section id="reviews">
            {% if not reviews %}
                <br>
                <p>No reviews or comments yet.</p>
                <br>
            {% else %}
            <p style="text-align:end">Average rating : {{average_rating.rating|floatformat}}  /5</p>
            {% for r in reviews %}
                <div class="flex" id="review">
                    <img id="user-profile-picture" src="{% static 'images/sign-up/customer.jpg' %}" alt="">
                    <h3>{{r.user.username|title}}</h3> <br>
                    <h3>{{r.get_rating_display}}</h3>
                    <p>{{r.date|date:"F d, Y"}}</p> <br>
                </div>
                <p> - {{r.review}}</p> <br>
            {% endfor %}
            {% endif %}

            {% if make_review == True %}
            {% if request.user.is_authenticated %}
            <div id="hide">
            <h3>Add a review</h3>
                <form action="{% url 'home:add-product-review' product.id %}" id="addReview" method="post">
                    {% csrf_token %}
                    <p>{{review_form.review}}</p>
                    <p>{{review_form.rating}}</p>
                    <button class="button" id="submit" type="submit">Submit</button>
                </form>
            </div>
            {% endif %}
            {% endif %}
            <p id="review-message"></p>
            <br>
            {% if not request.user.is_authenticated %}
                <p>You must be logged in to be able to post a comment or a review. 
                    <a href="{% url 'userauths:login' %}?next={{ current_url }}">Log in</a>
                </p>
                <br>
                <p>Don't have an account yet? <a href="{% url 'userauths:sign-up' %}?next={{ current_url }}">Sign up</a></p>
            {% endif %}
        </section>
        <br>
        <h1>About the author</h1> <br>
        <section id="profile">
            <div class="profile-info">
                <figure>
                    <img class="profile-pictures" src="{{product.artist.image.url}}" alt="Profile picture">
                    <figcaption><a href="{% url 'home:artist-details' product.artist.aid %}">View profile</a></figcaption>
                </figure>
                &nbsp;
                <a id="artist-name" href="{% url 'home:artist-details' product.artist.aid %}">{{product.artist.name}}</a>
                &nbsp;&nbsp;
                <p>{{product.artist.views}}</p> &nbsp;
                <img class="icons" src="{% static 'images/icons/eye.png' %}" alt="Eye Icon">
                &nbsp;&nbsp;
                <p>{{product.artist.city}}</p> &nbsp;
                <img class="icons" src="{% static 'images/icons/location.png' %}" alt="Location Icon">
                &nbsp;&nbsp;
                <p>Short Bio : {{product.artist.shortBio}}</p>
            </div>
            <h2>Biography</h2> <br>
            <p>{{product.artist.biography}}</p>
            <br>
        </section>

        <br>

        <section>
        {% if related_products %}
            <h1>Discover more artworks of the same technique & style</h1> <br>  
        {% endif %}
        <header class="store">
            {% for product in related_products %}
                <figure>
                    <a data-product-url="{% url 'home:product-details' product.pid %}" href="{% url 'home:product-details' product.pid %}">
                        {% if product.image %}
                            <img class="store-images" src="{{ product.image.url }}" alt="{{ product.title }}">
                        {% endif %}
                    </a>
                    <a data-product-url="{% url 'home:product-details' product.pid %}" href="{% url 'home:product-details' product.pid %}" target="_blank" ><p class="view-more">View More</p></a>
                    <p>{{ product.title }}</p>
                    <p class="price">{{ product.price }}</p> <span>dh</span>
                    <p> By <a id="artist-name" href="{% url 'home:artist-details' product.artist.aid %}">{{product.artist}}</a> </p>
                    <input type="hidden" class="product-id" value="{{product.id}}" name="" id="">
                    <input type="hidden" class="product-title" value="{{product.title}}" name="" id="">
                    <p class="cart-button">Add To Cart</p>
                    <br>
                    <p class="add-to-wishlist wish-button" data-product-item="{{product.id}}">Add to Wishlist</p>
                </figure>
            {% endfor %}
        </header> -->
        <br>
    </header>
</body>
</html>