<div th:fragment="footer">
    <br><br><br><br>
    <footer class="footer">
        <div class="parent">
            <div class="div1">
                <h3 class="gridbox">How may we help you?</h3>
                <!-- <p><a href="faqs.html">FAQS</a></p>
                <br> -->
                <p><a  th:href="@{/contact}">Contact us</a></p> 
            </div>

            <div class="div2"> 
                <h3>Learn more</h3>
                <p>Learn more <a  th:href="@{/about}">about Mehdi</a></p>
            </div>

            <div class="div3">
                <h3>Customer services</h3>
                <p>Discover our <a  th:href="@{/services}">services</a></p>
            </div>
            <div class="div4">
                <h3>Buy now</h3>
                <p>Visit our <a  th:href="@{/store}">store</a></p>
            </div>
            <div class="div5">
                <h3>Follow Mehdi Ragani</h3>
                    <p>
                        <a href="https://www.instagram.com/mehdi.ragani/"><img class="icons" th:src="@{/images/icons/instagram-icon.png}" alt="Instagram Link"></a>
                        &nbsp;
                        <a href="https://www.facebook.com/Mehdi.RG17"><img class="icons" th:src="@{/images/icons/facebook-icon.png}" alt="Facebook Link"></a>
                    </p>
            </div> 
        </div>
        <br>
        <br>
        <p>Copyright &copy; 2024 mehdirg. All rights reserved</p>
        <hr>
        <a  th:href="@{/}">Mehdi Ragani</a>
    </footer>
</div>