/* Styling the images of the artwork and whatnot */
#artwork-overview {
    margin:3% auto 3% auto;
}

#artwork-images-container {
    width:500px;
}

#artwork-image {
    cursor:pointer;
    max-height:300px;
    border:4px solid black;
}

.secondary-images {
    max-width:100px;
    margin:1%;
    border:2px solid black;
    cursor:pointer;
}

.flex {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
}

/* Styling the information of the artwork */
#info {
    border-radius:10px;
    padding:2% 0;
    text-align:center;
}

.price {
    text-align:center;
}

#artwork-info {
    gap:100px;
    justify-content:space-evenly;
    text-align:start;
}

li {
    font-size:16px;
    list-style-position:inside;
    margin-left:2px;
}

#price {
    margin-left:10%;
}

/* Styling the buttons */

.button {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    color:white;
    cursor:pointer;
    padding:2%;
    margin:3% 0;
    width:100%;
    text-align:center;
    transition:300ms;
    border:1px solid rgba(0, 0, 0, 0.4);
}

.button span {
    width:50%;
    font-size:15px;
    font-weight:600;

}
#cart-button {
    background-color:#212a2f;
}
#cart-button:hover {
    background-color:black;
}

.offer {
    background-color:lightseagreen;
}
.offer:hover {
    background-color:darkcyan;
}
.wishlist {
    color:rgb(255, 77, 112);
    background-color:rgba(255, 182, 193, 0.7);
}
.wishlist:hover {
    background-color:lightpink;
}

/* Styling the extra info */
.extra-info {
    display:flex;
    flex-basis:25%;
    /* Change the flex basis for smaller screens */
    justify-content:space-evenly;
    align-items:center;
    text-align:center;
    margin:2%;
    padding:2%;
    color:#4a311d;
    background-color:#f6f0e4;
    width:300px;
    border-radius:10px;
    box-shadow:1px 1px 10px rgba(0,0,0,0.5);
}
.extra-info p {
    margin:3%;
}