body {
    font-size:larger;
}

h1 {
    text-align:center;
    font-size:35px;
}

h2 {
    font-size:30px;
}

#updated-cart {
    padding:3%;
}

.flex {
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:3%;
}

.artwork-image {
    width:300px;
    height:300px;
}

.artwork-title, .artwork-artist {
    font-size:19px;
    font-weight:bolder;
    transition:300ms;
}
.artwork-title {
    padding:0 1%;
}
.artwork-artist {
    font-weight:500;
}


.shipping {
    color:rgba(0,0,0,0.5);
    font-size:15px;
    padding-left:10px;
}

.remove {
    margin-right:10px;
    cursor:pointer;
    background-color:transparent;
    border:none;
}
.icon {
    width:40px;
    height:40px;
}

hr {
    color:rgba(173, 216, 230, 0.2);
    width:80%;
    margin:auto;
}

#checkout {
    background-color:#f6f0e4;
    padding:5%;
    display:flex;
    justify-content:space-between;
    border: 2px solid #4a311d;
    border-radius: 10px;
    margin-top: 20px;
}

.total {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:3%;
}

#total-price {
    padding-left:100px;
    font-size:25px;
}

.checkout {
    text-align:center;
}
#checkout-button {
    color:#f6f0e4;
    background-color: #4a311d;
    padding:30px 200px;
    border-radius:5px;
    cursor:pointer;
    font-size:20px;
    font-weight:bold;
    font-family:'playfair-display';
    transition:300ms;
    text-decoration: none;
    display: inline-block;
}
#checkout-button:hover {
    background-color:rgba(74, 49, 29, 0.8);
    color:#f6f0e4;
}


#return-a {
    font-weight:bolder;
    font-size:18px;
    transition:300ms;
    color:rgba(0,0,0,0.7);
}

#return-p {
    margin-top:30px;
    color:rgba(0,0,0,0.4);
}