.flex-main {
    display:flex;
    justify-content:flex-start;
    padding:2%;
}
#checkout, #cart-items {
    font-size:larger;
}
#checkout, #cart-items {
    width:50%;
}

#products-number {
    text-align:center;
    font-weight:bold;
    color:rgba(0,0,0,0.4);
}
#login {
    color:rgba(0,0,0,0.4);
}
#checkout a {
    font-weight:900;
    transition:300ms;
    color:rgba(0,0,0,0.7);
}

/* Styling the checkout information */
label {
    color:lightseagreen;
    text-shadow:1px 1px rgba(0,0,0,0.2);
    font-weight: bold;
    text-align:center;
}
#checkout input, select {
    border:10px solid skyblue;
    background-color:skyblue;
    width:100%;
    height:40px;
    border-radius:15px;
    padding:2%;
    margin:2%;
}
select {
    padding:0;
}
option {
    margin:2%;
}

#added-artworks a {
    color:rgba(0,0,0,0.4);
    transition:300ms;
}

.flex {
    padding-left:50px;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}

.artwork-image {
    width:200px;
    height:200px;
    margin-right:5px;
}

.artwork-title, .artwork-artist {
    font-size:19px;
    font-weight:bolder;
    transition:300ms;
}
.artwork-title {
    padding:0 1%;
}
.artwork-artist {
    font-weight:500;
}

.artwork-artist:hover, #return-a:hover, #checkout a:hover, #added-artworks a:hover {
    text-shadow:1px 1px rgba(0,0,0,0.5);
    color:lightseagreen;
    transition:300ms;
}

.shipping {
    color:rgba(0,0,0,0.5);
    font-size:15px;
    padding-left:10px;
}

.remove {
    padding-right:10px;
    cursor:pointer;
}
.icons {
    width:25px;
    height:25px;
}

hr {
    color:rgba(173, 216, 230, 0.2);
    width:80%;
    margin:auto;
}

#place-order {
    background-color:lightblue;
    padding:5%;
    display:flex;
    justify-content:space-between;
}

.total {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

#total-price {
    padding-left:100px;
    font-size:25px;
}

.place-order {
    text-align:center;
}

#place-order-button {
    color:whitesmoke;
    background-color: #198754;
    padding:30px 200px;
    margin-bottom:3%;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:20px;
    font-weight:bold;
    font-family:monospace;
    transition:300ms;
}
#place-order-button:hover {
    background-color:#198754d7;
    color:white;
}


#return-a {
    font-weight:bolder;
    font-size:18px;
    transition:300ms;
    color:rgba(0,0,0,0.7);
}

#return-p {
    color:rgba(0,0,0,0.4);
}

#messages {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99999999999999999999999999999999;
    font-size:17px;
    font-size:medium;
}

.message {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size:17px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    opacity: 0;
    transition: opacity 1s;
}

.message[data-tags="error"] {
    background-color: #FF6B6B;
}

.message[data-tags="success"] {
    background-color: #198754;
}

.message[data-tags="info"] {
    background-color: #6CA0DC;
}

.message[data-tags="warning"] {
    background-color: #ffef96;
}