/* position:fixed makes the navbar float on top of whatver is below, while position:sticky makes it take its proper space  */
#navbar {
    position:fixed;
}

.navbar-item, .authentication {
    color:whitesmoke;
    text-shadow:1px 1px 2px black;

}

#navbar .navbar-item:first-child {
    color:whitesmoke;
    text-shadow:1px 1px 2px black;
}

/* Setting size of each element of navbar */
.artwork-name, .artwork-year {
    color:whitesmoke;
    text-align:center;
    text-decoration:none;
    list-style:none;
    text-shadow:1px 1px 2px black;
    padding:1%;
    position:fixed;
    bottom:50px;
}
.artwork-year {
    bottom:20px;
}


/* display:flex here works as the equivalent of background-position (if you remove it you'll notice that the portion of the images of the slider that's visible will change) */
.slider {
    height: 100vh;
    width:100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image, .artwork-name, .artwork-year {
    position: absolute;
    opacity: 0;
    z-index:1;
    transition: opacity 2s ease-in-out;
}

.artwork-name, .artwork-year {
    width:20%;
}
.artwork-year {
    text-align:center;
}

.slider-image.active, .artwork-name.active, .artwork-year.active {
    opacity: 1;
    z-index:10;
}


