.success-container {
    text-align: center;
    padding: 50px 20px;
    max-width: 600px;
    margin: 0 auto;
}

.success-icon {
    width: 80px;
    height: 80px;
}

.order-details {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    margin: 30px 0;
    text-align: left;
}
.order-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
}
.order-item:last-child {
    border-bottom: none;
}

#payment-status {
    color: #28a745;
    font-weight: bold;
}
.btn {
    display: inline-block;
    padding: 12px 24px;
    color: #f6f0e4;
    background-color: #4a311dd8;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color:#4a311d;
}

.btn-secondary {
    color: #f6f0e4;
    background-color: #4a311dd8;
}
.btn-secondary:hover {
    color:#f6f0e4;
    background-color:#4a311d;
}