/* adding some specifications to the body */
body {
    font-size:25px;
    color:rgba(0, 0, 0, 0.7);
}

main {
    margin:2% auto 1% auto;
    padding:1%;
}

/* Adjusting the nav bar to this specific page */
.sticky {
    z-index:99999;
}

h1, h2, p {
    text-align:center;
    font-weight:900;
}

h1, h2 {
    margin:2%;
}

@keyframes FadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.slider {
    display:flex;
    justify-content:space-around;
    align-items:center;
    overflow:auto;
}
.slider-image {
    width:500px;
    height:500px;
    animation:FadeIn 3s;
    border-radius:10px;
}

/* Adjusting the styles header */
.styles-image {
    width: 500px; 
    height: 600px;
    margin:1%;
    border-radius:10px;
}

/* Alternating between left and right (nth-child(even/odd) doesn't work for some reason */
.left {
    float:left;
}
.right {
    float:right;
}

.style-item {
    overflow:auto;
}
.clear {
    clear:both;
}

/* Forcing the paragraphs to be centered vertically */
.type-writer {
    padding-top:15%;
    padding-bottom:15%;
}

/* Adding some space to "Choose" paragraphs */
.choose {
    margin:1% 0 5% 0;
}


/* Changing footer paragraphs */
.footer2 p {
    font-weight:100;
    color:whitesmoke;
}

/* Making the page mobile friendly */
@media only screen and (max-width:600px) {
    /* Fixing nav bar */
    .sticky {
        position:static;
    }
    body {
        font-size:18px;
        background-position-x:right;
    }
    main {
        width:100%;
    }
    h1 , h2 {
        margin:10% 0;
        font-size:1.7em;
    }
    .slider {
        display:block;
    }
    .slider-image {
        margin:auto;
        width:80vw;
        height:50vh;
    }
    /* As for the styles */
    .styles-image {
        width:100%;
        margin:0;
        margin-bottom:1%;
        height:auto;
    }
    .type-writer {
        padding-bottom:20px;
    }
}
@media only screen and (min-width:600px) and (max-width:1200px) {
    /* Fixing nav bar */
    .sticky {
        position:static;
    }
    main {
        width:90%;
    }
    .slider {
        display:block;
        margin:auto;
    }
    .slider-image {
        margin:auto;
        margin-bottom:5%;
        width:80vw;
        height:75vh;
    }
    .styles-image {
        margin:0 9%;
        width:300px;
        height:400px;
    }
    .type-writer {
        padding:40px;
    }
}