<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin-add-edit-artwork.css}">
    <script th:src="@{/js/admin-add-edit-artwork.js}" defer></script>
    <title>Edit an artwork</title>
</head>
<body>
    <section class="form">
        <h1>Edit Artwork</h1>
        <form th:action="@{/admin/artworks/{id}/change(id=${artwork.id})}" th:object="${artwork}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="field">
                <label for="title">Title: <span class="star">*</span></label>
                <input type="text" th:field="*{title}" id="title"/>
                <div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>
            </div>
    
            <div class="field">
                <label for="price">Price: <span class="star">*</span></label>
                <input type="number" th:field="*{price}" id="price"/>
                <div class="error" th:if="${#fields.hasErrors('price')}"
                th:errors="*{price}">Error</div>
            </div>

            <div class="field">
                <label for="year">Year: <span class="star">*</span></label>
                <input type="number" th:field="*{year}" id="year"/>
                <div class="error" th:if="${#fields.hasErrors('year')}"
                th:errors="*{year}">Error</div>
            </div>

            <div class="field">
                <label for="width">Width: <span class="star">*</span></label>
                <input type="number" th:field="*{width}" id="width"/>
                <div class="error" th:if="${#fields.hasErrors('width')}"
                th:errors="*{width}">Error</div>
            </div>

            <div class="field">
                <label for="height">Height: <span class="star">*</span></label>
                <input type="number" th:field="*{height}" id="height"/>
                <div class="error" th:if="${#fields.hasErrors('height')}"
                th:errors="*{height}">Error</div>
            </div>

            <div class="field">
                <label for="theme">Theme: <span class="star">*</span></label>
                <select th:field="*{theme}" id="theme">
                    <option th:each="t : ${allThemes}"
                            th:value="${t}"
                            th:text="${t.displayName}">
                    </option>
                </select>
                <div class="error" th:if="${#fields.hasErrors('theme')}"
                th:errors="*{theme}">Error</div>
            </div>

            <div class="field">
                <label for="feel">Feel: <span class="star">*</span></label>
                <select th:field="*{feel}" id="feel">
                    <option th:each="f : ${allFeels}"
                            th:value="${f}"
                            th:text="${f.displayName}">
                    </option>
                </select>
                <div class="error" th:if="${#fields.hasErrors('feel')}"
                    th:errors="*{feel}">Error</div>
            </div>

            <div class="field">
                <label for="status">Status: <span class="star">*</span></label>
                <select th:field="*{status}" id="status">
                    <option th:each="s : ${allStatuses}"
                            th:value="${s}"
                            th:text="${s.displayName}">
                    </option>
                </select>
                <div class="error" th:if="${#fields.hasErrors('status')}"
                    th:errors="*{status}">Error</div>
            </div>
    
            <div class="field">
                <label for="mainImagePath">Main Image Path: <span class="star">*</span></label>
                <input type="text" th:field="*{mainImagePath}" id="mainImagePath"  placeholder="/images/artworks/..."/>
                <div class="error" th:if="${#fields.hasErrors('mainImagePath')}"
                th:errors="*{mainImagePath}">Error</div>
            </div>

            <div id="secondary-images">
                <div class="field">
                  <label for="secondaryImage0">Secondary Image Path:</label>
                  <input type="text" name="secondaryImagesPaths[0]" id="secondaryImage0" placeholder="/images/artworks/…"/>
                </div>
            </div>
              
            <br>
            <!-- If we use button instead, it'll be counted Submit the artwork, so it won't work as intended -->
            <div id="add-secondary-images">Add Secondary Images</div>
            <br><br>

            <div>
            <button type="submit">Submit</button>
            </div>
        </form>
    </section>
</body>
</html>