<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/logos/r-logo.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/css/sharedstyle.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="https://use.typekit.net/bpx8uhs.css">
    <script th:src="@{/js/home.js}" defer></script>
    <script th:src="@{/js/shared-js.js}" defer></script>
    <title>Home</title>
</head>
<body>
    <header>
        <section th:replace="~{fragments/header :: header}"></section>
        <section class="slider" th:each="product : ${products}">
            <img class="slider-image" th:src="${product.mainImagePath}" th:alt="${product.title}">
        </section>
        <section id="artworks-names" th:each="product : ${products}">
            <a class="artwork-name"
               th:href="${product.type == 'ARTWORK' ? '/store/' + product.id : '/store/print/' + product.id}"
               th:text="${product.title}" target="_blank"></a> <br>
               <span class="artwork-year" th:text="${product.year}">2024</span>
        </section>
    </header>
</body>
</html>